#!/usr/bin/make -f
# -*- makefile -*-

export QT_SELECT=qt5

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --buildsystem=qmake

override_dh_auto_build:
	dh_auto_build --buildsystem=qmake

override_dh_auto_install:
	dh_auto_install

