[Desktop Entry]
Version=1.0
Name=FlowingTR Application
Name[tr]=Akış Diyagram Uygulaması
Type=Application
Comment=Qt based Tabanlı Akış Diyagram Application
Comment[tr]=Qt Tabanlı Akış Diyagram  Uygulaması
Terminal=false
Exec=/usr/bin/flowingtr %f
Icon=flowingtr
Categories=Qt;Utility;
Keywords=flowingtr;diyagram;flow,chart,flowchart;
MimeType=application/x-flowingtr-ftr;
GenericName=FlowingTR
Name[tr_TR]=FlowingTR
