[Desktop Entry]
Version=1.0
Name=flowingtr Application
Name[tr]=Akış Diyagram Uygulaması
Type=Application
Comment=Qt based Tabanlı Akış Diyagram Application
Comment[tr]=Qt Tabanlı Akış Diyagram  Uygulaması
Terminal=false
Exec=/usr/bin/flowingtr
Icon=/usr/share/flowingtr/prg.png
Categories=Qt;Utility;
Keywords=flowingtr;diyagram;flow,chart,flowchart;
GenericName=flowingtr
Name[tr_TR]=flowingtr
