Package: flowingtr-dbgsym
Source: flowingtr
Version: 2.6
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 112
Depends: flowingtr (= 2.6)
Section: debug
Priority: optional
Description: debug symbols for flowingtr
Build-Ids: 3f8b5112e71e8578d60a783a6c7f321d1b4d410f
